body
{
    width: 50rem; 
    margin: 0 auto; 
    text-align: center; 
    font-family: Arial, sans-serif;
    background-color: #a5a49a;
}
h1
{
    color: #567dde;
    margin-top: 2rem;
}

.addcard h2
{
    color: #5b5b13;
    margin-top: 2rem;
}
.addcard button
{
  font-size: 1rem;
  color: #707414;
}

.buttons
{
    display:flex;
    justify-content: center;
    gap:1.5rem;  
}
.buttons button
{
    background-color: #0bbde6;
}
.showcard h2
{
    color: #82e3c7;
    margin-top: 2rem;
}

.mycard {
    width: 60%;
    background-color: #9ac5ebbf; 
    border: 0.2rem solid #d6f377; 
    border-radius: 1.8rem; 
    padding: 0.55rem; 
   margin-bottom: 1.5rem;
}

.addcard hr {
    border: none;              
    height: 0.12rem;              
    background-color: #892d0c;    
}
.showcard hr {
    border: none;              
    height: 0.01rem;              
    background-color: #9c0576;    
}

#list
{
  margin-bottom: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error
{
    color: red;
    margin-top: 0.1rem;
    font-size: 1rem;
}

#nameinput
{
    color: #0b80e6;
    font-size: 1.2rem;
    
}
#dateinput {
  padding: 0rem;
  font-size: 1.2rem;
  color: #0bbde6;
}